/* =============================================================================
   BASE
   ========================================================================== */

/*
 * To make it easier to use all variables and mixins in any Sass file in this
 * theme, each .scss file has a @import "base" declaration. And this
 * _base.scss file is in charge of importing all the other partials needed
 * for the theme.
 */


/* #Grid
   ================================================== */

$total-columns:         4;             // a 4-column grid for Mobile First
$column-width:          6.5rem;         // each column is 3.8em wide
$gutter-width:          2rem;         // 1em gutters between columns
$grid-padding:          $gutter-width; // grid-padding equal to gutters

/* Container Style */
$container-style:       magic;


/* #Bootstrap
   ================================================== */

@import "bootstrap/variables";


// Global values
// --------------------------------------------------

// Grays
// -------------------------
$grayDark:              #7f8c8d;
$gray:                  #95a5a6;
$grayLight:             #bdc3c7;
$grayLighter:           #ecf0f1;


// Accent colors
// -------------------------
$wetAsphalt:            #34495e;
$midnightBlue:          #2c3e50;
$turquoise:             #1abc9c;
$greenSea:              #16a085;
$greenInfinity:         #23a96e;
$greenInfinityDark:     #1b6041;
$greenLive:             #22a86d;

$blue:                  #3498db;
$blueDark:              #37607C;
$green:                 #82b964;
$greenDark:             $greenInfinity;
$red:                   #e74c3c;
$redDark:               #c74955;
$yellow:                #fdb53f;
$yellowDark:            #f39c12;
$orange:                #f4592d;
$orangeDark:            #d35400;
$pink:                  #ff6699;
$purple:                #9655af;
$purpleDark:            #8e44ad;


// Scaffolding
// -------------------------
$textColor:             #666;


// Links
// -------------------------
$linkColor:             $green;
$linkColorHover:        $greenDark;


// Typography
// -------------------------
$sansFontFamily:        "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$baseFontSize:          1.5rem;
$baseLineHeight:        21px;
$baseFontFamily:        $sansFontFamily;


// Component sizing
// -------------------------

$paddingLarge:          18px 36px; // 44px
$paddingSmall:          2px 12px;  // 26px
$paddingMini:           1px 8px;   // 24px

$baseBorderRadius:      6px;
$borderRadiusLarge:     10px;
$borderRadiusSmall:     3px;


// Buttons
// -------------------------
$btnBackground:                     $grayLight;
$btnBackgroundHighlight:            lighten($btnBackground, 10%);
$btnHover:                          mix($grayLight, white, 80%);
$btnBorder:                         #ddd;

$btnPrimaryBackground:              $blueDark;
$btnPrimaryBackgroundHighlight:     lighten($btnPrimaryBackground, 10%);

$btnInfoBackground:                 $blue;
$btnInfoBackgroundHighlight:        lighten($btnInfoBackground, 10%);

$btnSuccessBackground:              $green;
$btnSuccessBackgroundHighlight:     lighten($btnSuccessBackground, 10%);

$btnWarningBackground:              $yellow;
$btnWarningBackgroundHighlight:     lighten($btnWarningBackground, 10%);

$btnDangerBackground:               $red;
$btnDangerBackgroundHighlight:      lighten($btnDangerBackground, 10%);

$btnInverseBackground:              #0A1108;
$btnInverseBackgroundHighlight:     lighten($btnInverseBackground, 10%);


// Forms
// -------------------------
$inputBorder:                   #dce4ec;
$inputBorderRadius:             15px;
$inputDisabledBackground:       #eaeded;


// COMPONENT VARIABLES
// --------------------------------------------------


// Wells
// -------------------------
$wellBackground:                  $grayLighter;


// Navbar
// -------------------------

$navbarHeight:                    50px;
$navbarBackgroundHighlight:       #2e2f31;
$navbarBackground:                #2e2f31;
$navbarBorder:                    darken($navbarBackground, 5%);

$navbarText:                      $white;
$navbarLinkColor:                 $white;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $green;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      #2c3836;


// Dropdowns
// -------------------------
$dropdownBackground:            $navbarBackground;
$dropdownBorder:                $navbarBorder;

$dropdownLinkColor:             $navbarLinkColor;
$dropdownLinkColorHover:        $navbarLinkColorHover;

$dropdownLinkBackgroundActive:  $navbarLinkColorActive;
$dropdownLinkBackgroundHover:   $navbarLinkColorActive;


// Inverted navbar
$navbarInverseBackground:                $green;
$navbarInverseBackgroundHighlight:       $green;
$navbarInverseBorder:                    darken($green, 5%);

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $white;
$navbarInverseLinkColorHover:            $blueDark;
$navbarInverseLinkColorActive:           $blueDark;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 5%);

$navbarInverseSearchBackground:          $white;
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $grayLight;
$navbarInverseSearchPlaceholderColor:    $gray;


// Pagination
// -------------------------
$paginationBackground:                $grayLight;
$paginationBorder:                    $grayLight;
$paginationActiveBackground:          $grayLighter;


// Breadcrumb
// -------------------------
$breadcrumbBackground:    #3A8564;


// Form states and alerts
// -------------------------
$warningText:             #8f8d5d;
$warningBackground:       #f8f7d3;
$warningBorder:           transparent;

$errorText:               #9c4242;
$errorBackground:         #eda2a4;
$errorBorder:             transparent;

$successText:             #709980;
$successBackground:       #a4eed2;
$successBorder:           transparent;

$infoText:                #3c7889;
$infoBackground:          #9dd7e6;
$infoBorder:              transparent;


// Tooltips and popovers
// -------------------------
$tooltipBackground:       $blueDark;

$popoverBackground:       $blueDark;
$popoverArrowColor:       $blueDark;
$popoverTitleBackground:  $blueDark;


/* #Imports
   ================================================== */

@import "susy"; /* Add the susy responsive layout mixins. */
