//
// Blocks
// -------------------------


// Block Navigation
#block-system-navigation {
  .menu > li {
    border-bottom: solid 1px #dadada;
    &:last-child { border-bottom: 0; }
    > a {
      padding: 6px 0 6px 20px;
      &:before {
        content: "\f054";
        font-size: 1rem;
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.2em;
        width: 1.2em;
      }
    }
  }
}

// Head block
.block .headline {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dadada;
  .block-title {
    margin-bottom: -1px;
    display: inline-block;
    border-bottom: 1px solid $greenInfinity;
  }
}

// CUSTOM BLOCKS
// --------------

// Quote block
.quote blockquote {
  margin: 0;
  border-right: 5px solid #9E9E9E;
  p { font-style: italic; }
}

// Spin icon
.icon-64 {
  display: block !important;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 33px 33.25px;
  font-size: 7rem;
  margin: 0 auto;
  color: #3C3F5E;
  border: 6px solid #3C3F5E;
  @include border-radius(50%);
  @include transition(all 0.4s ease-in-out);
  @include transform(rotate(0deg));
  &:hover {
    color: $white;
    border-color: $white;
    background-color: #3C3F5E;
    @include transform(rotate(359deg));
    @include box-shadow(0 0 4px rgba(0, 0, 0, 0.28));
  }
}

// Block blog latest posts
.blog-display .view-content {
  .views-row {
    margin-bottom: 15px;
    padding: 30px;
    height: 202px;
    background-color: white;
    border-radius: 0 5px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    position: relative;
    &:before {
      content: "";
      width: 85%;
      height: 5px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $red;
      @include transition-property(width);
      @include transition-duration(.5s);
    }
    &:hover {
      @include box-shadow(0 2px 8px rgba(0,0,0,0.2));
      &:before {
        width: 100%;
        @include transition-property(width);
        @include transition-duration(.5s);
      }
    }
    .views-field-created {
      font-size: 1.3rem;
      .views-label {
        color: $red;
        font-weight: 600;
      }
    }
    .views-field-name {
      font-size: 1.3rem;
      font-style: italic;
      a { @include redefine-link($red,$redDark); }
    }
    .views-field-title {
      margin: 10px 0;
      font-size: 2rem;
      a { @include redefine-link($red,$redDark); }
    }
  }
}