//
// Breadcrumb
// -------------------------


#breadcrumb-wrapper {
  background-color: $breadcrumbBackground;
  border-bottom: 1px solid $greenSea;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-size: $baseFontSize - .2rem;
  background-color: transparent;
  > li {
    display: inline-block;
    > .divider{
      padding: 0 5px;
      color: #B9B9B9;
    }
  }
  .active {
    color: $white;
  }
  a { @include redefine-link($grayLight,$white); }
}
