
.comment h3.comment-title {
  margin-bottom: 0.5rem;
  a { @include redefine-link($textColor,$linkColorHover); }
}
.comment div.user-picture img {
  margin-left: 0;
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: block;
  width: 100px;
  padding: 0 30px 0 0;
  vertical-align: top;
  overflow: hidden;
  .username {
    @include redefine-link($textColor,$linkColorHover);
  }
  .user-picture {
    border: 1px solid #DDDDDD;
    display: inline-block;
    padding: 6px;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
    @include border-radius(500px);
    img {
      margin: 0;
      width: 55px;
      height: 55px;
      @extend .img-circle;
    }
  }
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 1.2rem;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../img/comment-arrow.gif) no-repeat 0 center transparent;
  height: 40px;
  margin-left: -47px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
  li {
    padding: 0 0.5em 0 0;
  }
  .comment-reply {
    text-align: right;
    display: inline-block;
    float: right;
  }
}
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
#comments h2.title {
  border-bottom: 8px solid #F0F0F0;
  margin-bottom: 20px;
}
