//
// Comments
// -------------------------

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
// Comment main title
#comments h2.title,
#comments h3.title {
  border-bottom: 8px solid $wellBackground;
  margin-bottom: 20px;
}
// Title of comments
h3.comment-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  a { @include redefine-link($textColor,$linkColorHover); }
}
.comment .attribution {
  display: block;
  overflow: hidden;
  width: 100px;
  .username {
    @include redefine-link($textColor,$linkColorHover);
  }
}
.comment .attribution .user-picture {
  display: block;
  padding: 6px;
  width: 70px;
  border: 2px solid $grayLighter;
  @include border-radius(50%);
  img {
    margin: 0;
    width: 55px;
    height: 55px;
    @extend .img-circle;
  }
}
.comment .attribution .submitted {
  display: table;
  padding-right: 10px;
}
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .comment-arrow {
  background: url(../img/comment-arrow.gif) no-repeat 0 center transparent;
  height: 40px;
  margin-left: -47px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}

// Comments content
.comment .comment-text {
  padding: 10px 25px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .content {
  font-size: $baseFontSize - .1rem;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
  li {
    padding: 0 0.5em 0 0;
  }
  .comment-reply {
    text-align: right;
    display: inline-block;
    float: right;
  }
}

// Unpublised comments
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
