/* #Drupal Styles
   ================================================== */

html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
     height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-position: 100% 8px; /* LTR */
      background-repeat: no-repeat;
    }
    input.throbbing {
      background-position: 100% -13px; /* LTR */
    }
  }
}

body {
  // Core admin toolbar.
  &.toolbar .navbar-fixed-top {
   top: 30px;
  }
  &.toolbar-drawer .navbar-fixed-top {
   top: 65px;
  }
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  div#admin-toolbar {
    z-index: 500;
  }
  // Admin_menu toolbar.
  #admin-menu {
    @include box-shadow(none);
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1100;
    .dropdown li {
      line-height: normal;
    }
  }
  &.admin-menu {
    .navbar-fixed-top {
      top: 28px;
    }
  }
}

// Element invisible fix
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

// Action Links
ul.action-links {
  margin-bottom: 2em;
  li {
    display: inline;
    padding-right: 1.5em;
  }
  [class^="icon-"], [class*=" icon-"] {
    padding-right: 0.5em;
  }
}

// Form elements
input,
textarea,
select,
.uneditable-input {
  max-width: 100%;
  width: auto;
}

input.error {
  color: $errorText;
  border-color: $errorBorder;
}
.form-type-checkbox input, .form-type-radio input {
  float: left;
}
.form-actions{
  clear: both;
}
.help-block, .control-group .help-inline {
  color: $placeholderText;
  font-size: 12px;
  margin: -8px 0 10px;
  padding: 0 3px;
  .description,
  .checkbox,
  .form-type-checkbox,
  .form-type-radio,
  .form-file,
  .resizable-textarea {
    margin-top: 0;
  }
}

.input-append {
  padding-right: 40px;
  width: 100%;
  input, textarea, select, .uneditable-input {
    width: 100% !important;
  }
}

// Inline containers.
.container-inline div, .container-inline label {
  display: block;
}

// Error containers
div.error,
table tr.error {
  background-color: $errorBackground;
  color: $errorText;
}
.control-group.error {
  background: none;
  label, .control-label {
    color: $errorText;
    font-weight: 600;
  }
  input, textarea, select, .uneditable-input {
    color: $errorText;
    border: 1px solid $inputBorder;
  }
  .help-block, .help-inline {
    color: $placeholderText;
  }
}

// Lists
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}

// Vertical tabs
.vertical-tabs {
  .form-type-textfield input {
    width: auto;
  }
  .form-item{
    margin: 1em 0;
  }
}

// Password strength indicator.
.password-strength {
  width: 17em;
  float: right;  /* LTR */
  margin-top: 14em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}
.password-indicator {
  background-color: darken($grayLighter, 2%);
  height: 0.3em;
  width: 100%;
  div {
    height: 100%;
    width: 0%;
    background-color: $green;
  }
}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: right;  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  width: 36.3em;
}

// Progress bar.
.progress-wrapper .progress {
  margin-bottom: 10px;
  .bar {
    border: 0 none;
    margin: 0;
  }
}

// Views AJAX pager.
.pagination ul > li > a {
  &.progress-disabled {
    float: left;
  }
  .throbber {
    margin: 0 -0.25em 0 0.5em;
    position: relative;
    top: 1px;
  }
}
