/* #Footer
   ================================================== */

#footer {
  font-size: $baseFontSize - 0.1rem;
  position: relative;
  background-color: $navbarBackground;
  &:before {
    content: '';
    border: 10px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -10px;
  }
  a {
    @include redefine-link($grayDark,$green);
  }
}

#footer .block .headline {
  border-bottom: 1px solid #777;
  .block-title {
    color: $grayLight;
  }
}

#footerTop {
  padding: 30px 0;
  color: #aaa;
  h1, h2, h3, h4, h5 {
    text-transform: capitalize;
    color: #fff;
  }
}

#footerBottom {
  background-color: #1a1a1a;
  color: #aaa;
  padding: 10px 0;
}


.footerNav {
  margin: 0;
  li a {
    color:#aaa;
    &:hover {
      color: #fff;
    }
  }
}

#footer .social ul li {
  padding: 4px;
  margin: 0 2px;
  background-color: #131313;
  a {
    color: #aaa;
    @include transition(500ms linear 0s);
    &:hover {
      text-shadow: 0 0 0.5em #87F, 0 0 0.5em #87F, 0 0 0.5em #87F;
    }
  }
}

.bottom1 p {
  margin: 4px 0 0 0;
}