//
// Footer
// -------------------------

// Main container
#footer {
  font-size: $baseFontSize - 0.1rem;
  color: #aaa;
  position: relative;
  background-color: $navbarBackground;
  &:before {
    content: '';
    border: 10px solid transparent;
    border-top-color: $white;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -10px;
  }
  a {
    @include redefine-link($grayDark,$green);
  }
}

// Block titles
#footer .block .headline {
  border-bottom: 1px solid #777;
  .block-title {
    color: $grayLight;
    text-transform: capitalize;
  }
}

// Footer
#footerTop {
  padding: 30px 0;
}

// Bottom
// -------------------------
#footerBottom {
  background-color: #1a1a1a;
  padding: 10px 0;
}

// push text down on bottom
.bottom1 p {
  margin: 4px 0 0 0;
}

// Social icons on the bottom
#footerBottom .social {
  margin: 0;
  display: table;
  list-style: none;
  float: right;
  line-height: 0;
  > li {
    margin-right: 7px;
    display: inline-block;
    line-height: 0;

    &:last-child {
      margin-right: 0;
    }
  }
  i {
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    padding: 4px 4.2px;
    font-size: 1.6rem;
    color: $gray;
    border: 2px solid #1E1E20;
    background: $navbarBackground;
    @include border-radius(50%);
    @include transition(all 0.4s ease-in-out);

    &:hover {color: $white; }
    &.icon-facebook:hover {
      border-color: #1E2C49;
      background-color: #3c5a9a;
    }
    &.icon-twitter:hover {
      border-color: #0F3746;
      background-color: #00acee;
    }
    &.icon-google-plus:hover {
      border-color: #4B1A14;
      background-color: #dc4a38;
    }
    &.icon-linkedin:hover {
      border-color: #002B3C;
      background-color: #0073a0;
    }
    &.icon-flickr:hover {
      border-color: #323B3F;
      background-color: #72858c;
    }
  }
}
