//
// Forms
// --------------------------------------------------

// Form controls
// -------------------------

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: $baseFontSize - .1rem;
  // Focus state
  &:focus {
    border-color: rgba(121, 216, 0, 0.8);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(142,205,68,.6));
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 3.2rem;
}

textarea { height: auto; }

// SEARCH FORM
// -----------

input.search-query,
.form-search .input-append .search-query {
  @include border-radius(4px);
}
input[type="search"] {
  @include box-sizing(border-box);
}

aside[role=menu] {
  .input-append,
  input.search-query {
    background: #fff url(../img/ico-search.png) no-repeat;
    background-position: 96% center;
    padding-right: 30px !important;
  }
}

.search-results h3.title {
  font-weight: bold;
}

.content-inner .search-form .control-group {
  display: inline-block;
}

// FOOTER STYLE
// ------------

#footer {
  input,
  textarea {
    color: #dddddd;
    border-color: #222;
    background-color: #444;
    @include placeholder(#838383);
  }
}

// Login Form
// -------------
#user-login-form {
  a { @include redefine-link($textColor, $linkColor); }
  a[href*="http://openid.net/"]:before {
    @include icon-before("\f059");
  }
  a[href="#openid-login"]:before {
    @include icon-before("\f00c");
  }
  a[href="#"]:before {
    @include icon-before("\f00d");
  }
  ul {
    margin-left: 0;
    li {
      list-style: none;
      a[href*="user/register"]:before {
        @include icon-before("\f007");
      }
      a[href*="user/password"]:before {
        @include icon-before("\f084");
      }
    }
  }
}