//
// Forms
// --------------------------------------------------

// GENERAL STYLES
// --------------

// Groups of fields with labels on top (legends)
legend {
  font-size: 2rem;
  color: $textColor;
  border-bottom: none;
  margin-bottom: 10px;
}

// Form controls
// -------------------------

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 3.2rem;
  color: $grayDarker;
  font-size: $baseFontSize - .1rem;
  padding: 4px 9px;
}

// Reset height since textareas have rows
textarea {
  height: auto;
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid $inputBorder;
  @include box-shadow(none);
  &:focus {
    border-color: $greenInfinity;
    @include box-shadow(none);
  }
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  line-height: 1.6rem;
}

// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: default;
  background-color: $grayLighter;
  border-color: transparent;
  color: $grayLight;
}


// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning,
.control-group.warning input:focus,
.control-group.warning textarea:focus {
  border-color: $yellow;
  @include box-shadow(none);
}
// Error
.control-group.error,
.control-group.error input:focus,
.control-group.error textarea:focus {
  border-color: $red;
  @include box-shadow(none);
}
// Success
.control-group.success,
.control-group.success input:focus,
.control-group.success textarea:focus {
  border-color: $green;
  @include box-shadow(none);
}
// Info
.control-group.info,
.control-group.info input:focus,
.control-group.info textarea:focus {
  border-color: $blue;
  @include box-shadow(none);
}


// FORM ACTIONS
// ------------

.form-actions {
  border-top: none;
  @include border-radius($baseBorderRadius);
  background-color: darken($grayLighter, 5%);
}


// INPUT GROUPS
// ------------

.input-append,
.input-prepend {
  .add-on {
    height: 32px;
    border: 2px solid $inputBorder;
    text-shadow: none;
  }
  .btn {
    padding: .55rem 1.2rem;
  }
}
.input-prepend .add-on {
  margin-right: -2px;
}
.input-append .add-on {
  margin-left: -2px;
}
.input-append input {
  border-right: none;
}
.input-prepend input {
  border-left: none;
}


// SEARCH FORM
// -----------

input.search-query {
  @include box-sizing(border-box);
}

#block-search-form {
  .search-query:focus {
    border-color: $green;
  }
  .container-inline {
    display: table;
  }
  .input-append {
    width: auto;
    padding: 0;
  }
  .append-first,
  .append-second {
    display: table-cell;
  }
  .append-first {
    width: 100%;
  }
  .control-group {
    margin: 0;
  }
}

.search-form .control-group {
  display: inline-block;
}
.search-form .search-query {
  @include border-radius($inputBorderRadius);
}

// Search results
.search-results h3.title {
  font-size: 2rem;
  a {
    @include redefine-link($textColor,$linkColorHover);
  }
}


// Login Form
// -------------
#user-login-form {
  a { @include redefine-link($textColor, $linkColor); }
  a[href*="http://openid.net/"]:before {
    @include icon-before("\f059");
  }
  a[href="#"]:before {
    @include icon-before("\f00d");
  }
  ul {
    margin-left: 0;
    li {
      list-style: none;
      a[href*="user/register"]:before {
        @include icon-before("\f007");
      }
      a[href*="user/password"]:before {
        @include icon-before("\f084");
      }
    }
  }
}


// FOOTER STYLE
// ------------

#footer {
  input,
  textarea {
    color: $grayLight;
    border-color: #222;
    background-color: #444;
    @include placeholder($grayDarker);
  }
}
