//
// Style base
// --------------------------------------------------


html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
     height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-position: 100% 8px;
      background-repeat: no-repeat;
    }
    input.throbbing {
      background-position: 100% -13px;
    }
  }
}

body {
  line-height: 2.3rem;
}

#skip-link {
  margin: 0;
}

.content-inner .node-teaser {
  margin-bottom: 15px;
}

.slider {
  margin-bottom: 0;
  padding: 40px 0;
  background: #79BD8F url('../img/hex_grid.png') repeat center top;
  background-attachment: fixed;
}
