//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar {
  margin: 0;
  border-top: 1px solid #18222C;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  @include box-shadow(none);
  @include border-radius(0);
}

// Brand: website or project name
// -------------------------
.navbar .brand {
  text-shadow: none;
  &:hover {
    color: $linkColorHover;
  }
}

// Navbar search
// -------------------------

.navbar-search .search-query {
  border: none;
  @include box-shadow(none);
  line-height: normal;
}

// NAVIGATION
// ----------

.navbar .nav > li > a {
  text-shadow: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  @include box-shadow(none);
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  background-image: none;
  @include box-shadow(none);
  background-color: $breadcrumbBackground;
  &:hover { background-color: $linkColor;}
}

.navbar {
  .btn-inverse,
  .btn-group-inverse {
    .brand:hover {
      color: $blueDark;
    }

    .navbar-search .search-query {
      border-color: transparent;
      @include box-shadow(none);
      line-height: normal;
      color: $textColor;

      &:focus {		
	padding: 4px 14px;
	color: $textColor;
      }
    }
  }
}


// Dropdown menus
// --------------

// Caret should match text color on hover/focus
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: $white;
  border-bottom-color: $white;
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: $white;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: $white;
  border-bottom-color: $white;
}


// Mixins
// ------

@include at-breakpoint(8 $navbarCollapseWidth) {
  .navbar .nav-collapse .nav > li > a {
    color: $navbarBackground;
    &.active,
    &:focus,
    &:hover {
      color: $navbarBackground;
      background-color: $green;
    }
  }

  // Remove background color from open dropdown
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: $green;
    color: $navbarBackground;
  }
  .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: $navbarBackground;
    border-bottom-color: $navbarBackground;
  }
  .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: $navbarBackground;
    border-bottom-color: $navbarBackground;
  }
}
