// NAVBAR
// --------------------------------------------------

.navbar {

  .brand {
    text-shadow: none;
    &:hover {
      color: $linkColorHover;
    }
  }

  .navbar-inner {
    @include box-shadow(none);
  }

  .nav > li > a {
    text-shadow: none;
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    @include box-shadow(none);
  }

  .navbar-search .search-query {
    border: none;
    @include box-shadow(none);
    line-height: normal;
  }

  .btn-navbar {
    background-image: none;
    @include box-shadow(none);
  }

  .btn, .btn-group {
    margin-top: 6px;
  }

  .btn-inverse,
  .btn-group-inverse {

    .brand:hover {
      color: $blueDark;
    }

    .navbar-search .search-query {
      border-color: transparent;
      @include box-shadow(none);
      line-height: normal;
      color: $textColor;

      &:focus {		
	padding: 4px 14px;
	color: $textColor;
      }
    }
  }
}

div.subnav {

  border-color: transparent;
  background-image: none;
  background-color: $grayLighter;
  @include box-shadow(none);

  //&-fixed {
  //  top: $navbarHeight;
  //}

  .nav > li > a {
    border-color: transparent;
    @include box-shadow(none);
    color: $textColor;
  }

  .nav > .active > a,
  .nav > .active > a:hover {
    border-color: transparent;
    background-color: darken($grayLighter, 10%);
    @include box-shadow(none);
    color: $textColor;
  }
}


.navbar {
  border-top: 1px solid #18222C;
  .btn {
    background-color: $breadcrumbBackground;
    &:hover { background-color: $linkColor;}
  }
}

.navbar .navbar-inner {
  @include border-radius(0);
}

.navbar .nav > li > a {
  text-shadow: none;
}

@media (max-width: 767px) {  
  div.subnav {
    .nav > li:first-child > a,
    .nav > li + li > a {
      border-color: transparent;
      &:hover {
	background-color: darken($grayLighter, 10%);
      }
    }
    .nav > li:last-child > a {
      border-radius: 0 0 4px 4px;
    }
  }
}

@media (max-width: 979px) {
  .navbar .nav-collapse .nav > li > a {
    color: $grayDarker;
    &.active,
    &:focus,
    &:hover {
      background-color: $green;
    }
  }
}
