//
// Nivo slider
// --------------------------------------------------


.nivo-caption {
  background: $navbarBackground;
  color: $grayLight;
  opacity: 1;
}

.theme-default {
  .nivo-directionNav a {
    background: url(../img/arrows.png) no-repeat;
  }
  a.nivo-nextNav {
    background-position: -30px 0 !important;
  }
}
