//
// Pager pagination
// --------------------------------------------------


.pager {
  li > a,
  li > span {
    background-color: $green;
    border: none;
    color: $white;
    &:hover {
      background-color: lighten($green, 10%);
    }
  }
  .disabled > a,
  .disabled > span,
  .disabled > a:hover,
  .disabled > span:hover {
    background-color: lighten($green, 10%);
    color: $white;
  }
}
