//
// Pager pagination
// --------------------------------------------------


.pager li > a,
.pager li > span {
  background-color: $green;
  border: none;
  color: $white;
  &:hover {
    background-color: lighten($green, 10%);
  }
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: lighten($green, 10%);
  color: $white; 
}
