
.pattern-paper {
  background-color: #fff; 
  background-image:
  linear-gradient(90deg, transparent 3%, #abced4 3%, #abced4 3.5%, transparent 3.5%px),
  linear-gradient(#eee .1em, transparent .1em);

  background-image:
  -webkit-linear-gradient(0deg, transparent 3%, #abced4 3%, #abced4 3.5%, transparent 3.5%),
  -webkit-linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

  background-image:
  -moz-linear-gradient(0deg, transparent 3%, #abced4 3%, #abced4 3.5%, transparent 3.5%),
  -moz-linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

}
