//
// Sidebar
// --------------------------------------------------


.sidebar .nav {
  margin: 0;
}

// Fix blocks style
.sidebar .block {
  position: relative;
  margin-bottom: 20px;
 
  .form-search {
    margin: 0;
  }
}

// Redefine link color
.sidebar > a,
.sidebar .nav > li > a {
  @include redefine-link($textColor,$linkColor);
}

// Fix caret color
.sidebar {
  .nav li.dropdown.open .caret,
  .nav li.dropdown.open.active .caret,
  .nav .dropdown-toggle .caret {
    border-top-color: $textColor;
    border-bottom-color: $textColor;
  }
  .nav li.dropdown.open a:hover .caret,
  .nav li.dropdown.open a:focus .caret {
    border-top-color: $linkColor;
    border-bottom-color: $linkColor;
  }
}

// Add icons to User Menu
// ----------------------
#block-system-user-menu {
  a[href="/user"]:before {
    @include icon-before("\f007");
  }
  a[href="/user/logout"]:before {
    @include icon-before("\f08b");
  }

  // Make links block level
  .nav > li > a {
    display: inline-block;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background: none;
  }
}