//
// Sidebar
// --------------------------------------------------


.sidebar .nav {
  margin: 0;
}

// Fix blocks style
.sidebar .block {
  margin-bottom: 20px;
 
  .form-search {
    margin: 0;
  }
}

// Redefine link color
.sidebar > a,
.sidebar .nav > li > a {
  @include redefine-link($textColor,$linkColor);
}

// Fix caret color
.sidebar {
  .nav li.dropdown.open .caret,
  .nav li.dropdown.open.active .caret,
  .nav .dropdown-toggle .caret {
    border-top-color: $textColor;
    border-bottom-color: $textColor;
  }
  .nav li.dropdown.open a:hover .caret,
  .nav li.dropdown.open a:focus .caret {
    border-top-color: $linkColor;
    border-bottom-color: $linkColor;
  }
}