/* #Typography
================================================== */

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  a {
    color: #444;
    &:hover { color: #555; }
  }
}

h1, h2, h3 { line-height: 4rem }

h1 { font-size: 2.3rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.7rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.2rem; }

a {
  @include transition(color .1s ease-in-out);
  &:hover {
    text-decoration: none;
  }
}

p {  margin-bottom: 14px; }

#site-name {
  font-size: 3.5rem;
}

.node-title {
  font-size: 2.3rem;
  line-height: 4.6rem;
  a { @include redefine-link($textColor,$orange); }
}